# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
/media
/static

# temp files
Thumbs.db
.DS_Store
.tmp

# IDE
.idea/
*.sublime-project
*.sublime-workspace

# Production settings
catalogarte/settings/prod.py
