<li id="{{id}}" class="item" style="padding:{{padding}}px">
  <div class="r h100">
    <div class="c col-xs-8">
      <div class="content">
        {{{renderContent content1 false}}}
      </div>
    </div>
    <div class="c col-xs-4">
      <div class="content">
        {{{renderContent content2 false}}}
      </div>
    </div>
  </div>
</li>
