@font-face {
    font-family: 'Soberana';
    src: url('../fonts/SoberanaSans/SoberanaSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Soberana';
    src: url('../fonts/SoberanaSans/SoberanaSans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Soberana';
    src: url('../fonts/SoberanaSans/SoberanaSans-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

html, body{
    height:100%;
}

body {
    font-family: Soberana, Arial, sans-serif;
    color: #666;
}

a {
    color: #222;
}

a:hover {
    color: #111;
}

.orange {
    background-color: #ED6B19;
}
.purple {
    background-color: #992D73;
}
.blue {
    background-color: #009BBF;
}
.green {
    background-color: #83B93A;
}
.pink {
    background-color: #DA194D;
}
.dark-blue {
    background-color: #004794;
}
.teal {
    background-color: #00A994;
}

.no-padding {
    padding: 0;
}

/* Public pages */

.navbar {
    margin-bottom: 0;
}

.menu .navbar-collapse {
    text-align: center;
}

.menu .navbar-nav {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.menu .navbar-nav li {
    text-transform: uppercase;
    padding: 0 10px;
}
.menu .navbar-nav li.active a {
    color: #222;
}

.navbar-nav a {
    color: #666;
}

.navbar-static-top .navbar-brand {
    height: 100px;
    padding: 10px;
}

@media (min-width: 768px){
    .menu .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.menu {
    background-color: #e5e5e5;
}

.carousel {
    margin-bottom: 30px;
}

.carousel-item {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.section-header {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

.categories .item {
    display: block;
    position: relative;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.categories .item span{
    position: absolute;
    width: 65%;
    font-size: 1.4em;
    font-weight: bold;
    bottom: 20px;
    left: 20px;
}

.categories .single {
    height: 120px;
}
.categories .double {
    height: 180px;
}

.museum-item {
    height: 100px;
}

.museum-item img {
    width: 30%;
    float: left;
}

.museum-item div {
    width: 70%;
    float: left;
    padding: 25px 50px 30px 20px;
    color: #666;
    font-size: 1.2em;
    font-weight: bold;
}

.museum-item:hover div {
    color: #333;
}

.page-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px 0;
}

#filters {
    margin-top: 20px;
}

#filters .form-group{
    margin-right: 10px;
}

.exhibitions {
    margin-top: 20px;
}

.exhibition-item {
    position: relative;
    padding: 5px;
}

.exhibition-item .image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.exhibition-item .cover {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 10px;
    right: 5px;
    display: none;
}

.exhibition-item:hover .cover, .exhibition-item:active .cover {
    display: block;
}

.exhibition-item .details {
    position: absolute;
    color: white;
    left: 10px;
    bottom: 5px;
}

.exhibition-item .details h4 {
    font-weight: bold;
}

.exhibition-cover {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.exhibition .logo {
    height: 90px;
}

.exhibition h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.exhibition .details li {
    list-style-type: none;
    margin-bottom: 5px;
}

.exhibition i {
    margin-right: 5px;
}

.exhibition .nav-tabs>li.active>a {
    color: white;
    font-weight: bold;
    background: #83B93A;
}

.exhibition .btn-block {
    margin-bottom: 20px;
}

.btn-colored {
    font-weight: bold;
    color: #EEE;
}

.btn-colored:hover, .btn-colored:active, .btn-colored:focus {
    color: #FFF;
}

.separator {
    height: 20px;
    background-color: #83B93A;
    margin-bottom: 30px;
}

.museum {
    margin-top: 30px;
}

.museum .links {
    padding-left: 0;
    margin-bottom: 20px;
}

.museum .links li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.museum h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

#loading {
    display: none;
    width: 100%;
}

#loading img {
    display: block;
    margin: 20px auto;
}

.empty-message {
    margin-top: 20px;
    padding: 40px;
}

.footer {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    margin-top: 20px;
}

.catalog-nav .nav-logo {
    float: left;
    height: 50px;
    color: white;
    font-size: 1.4em;
    line-height: 50px;
    margin-right: 25px;
}

@media only screen and (max-width : 768px) {
    .catalog-nav .nav-logo {
        float: left;
        height: 50px;
        font-size: 1.2em;
        line-height: 50px;
        margin-left: 10px;
        margin-right: 5px;
    }
}

.catalog-nav .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
}

.catalog-nav .navbar-toggle {
    margin-top: 0;
    margin-right: 5px;
    color: white;
}

.catalog-nav .nav-dropdown {
    position: relative;
    float: left;
}

.catalog-nav .nav-dropdown a {
    color: white;
}

.catalog-nav .nav-dropdown .dropdown-menu a {
    color: #333;
    cursor: pointer;
}

.catalog-nav .nav .open>a, .catalog-nav .nav>li>a:focus, .catalog-nav .nav>li>a:hover {
    background-color: inherit;
}

.catalog-nav li a {
    color: #EEE;
}

.catalog-nav

.catalog-nav .nav>li>a:focus, .catalog-nav .nav>li>a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: inherit;
}

@media only screen and (max-width : 768px) {
    .catalog-nav #contents-dropdown{
        position: inherit !important;
    }
}


/* Admin pages */

#login-form {
    margin-top: 50px;
    margin-bottom: 100px;
}

.avatar {
    padding: 5px !important;
}

.avatar img {
    background-color: #FFF;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.admin-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.admin-action {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Editor */

.workspace {
    background-color: #eeeded;
    padding: 15px;
}

.nav-tabs {
    background-color: #eeeded;
    margin-bottom: 15px;
}

.list-group {
    margin-top: 0;
    margin-bottom: 0;
}

.list-group-item {
    border: 1px solid #eee;
}

.toolbar h4 {
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid #EEE;
}

.toolbar .toolbar-focus {
    background: #5677fc;
    color: white;
}

.list-group .list-group-item {
    padding: 10px 20px;
    cursor: pointer;
}

.list-group .list-group-item:hover {
    background-color: #EEE !important;
}

.list-group .list-group-item i.list-item {
    margin-right: 15px;
}

.list-group .list-group-item i.fa-spin {
    display: none;
    margin-top: 2px;
}

.ui-slider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.toolbar-container {
    position: absolute;
    left: 15px;
    padding: 0;
    width: 180px;
}

.toolbar-images {
    position: absolute;
    right: 0;
    padding: 0;
    width: 180px;
}

.toolbar {
    background: #FEFEFE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    position: absolute;
    width: 180px;
    z-index: 99;
}

.toolbar.affix {
    position: fixed !important;
    top: 15px;
}

.toolbar.content-properties {
    display: none;
    margin-top: 20px;
    top: 207px;
}

.toolbar.document {
    margin-top: 20px;
    top: 207px;
}

.toolbar.content-properties.affix,
.toolbar.document.affix {
    top: 222px;
}

#toolbar-document ul {
    max-height: 344px;
    overflow-y: auto;
}

#toolbar-document li i {
    display: none;
}

#toolbar-document li i.drag-handle,
#toolbar-document li.active i {
    padding: 2px 5px;
    display: block;
}

#toolbar-document li i.drag-handle:hover {
    cursor: n-resize;
}

#multimediaToolbar {
    float: right;
    right: 15px;
}

#multimediaToolbar .nav > li {
    text-align: center;
    width: 33%;
}

.nav-pills > li > a {
    border-radius: 0 !important;
    color: #444;
    min-height: 40px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #1D1D1B;
}

.toolbar .tab-content {
    height: 530px;
    overflow-y: auto;
}

.toolbar .nav-tabs {
    margin-bottom: 0;
}

.toolbar-btn {
    color: #666;
    cursor: pointer;
}

.toolbar-btn:hover {
    color: #222;
}

.toolbar-help {
    padding: 20px;
}

.popover {
    background-color: #FFF;
    color: #444;
    max-width: none;
    padding: 5px 5px 10px 5px;
}

.popover.right .arrow:after {
    border-right-color: #FFF;
}

.popover .btn-primary {
    float: right;
}

.placeholder {
    border: 4px dashed #CCC;
    text-align: center;
    padding-top: 100px;
    font-size: 2em;
    color: #AAA;
    height: 620px;
    width: 800px;
    float: left;
}

#catalog {
    width: 800px;
}

#catalog .page {
    background: #FEFEFE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 5px;
    float: left;
    height: 600px;
    width: 730px;
}

.cke_inner {
    width: 540px !important;
}

.thumb {
    width: 90%;
    height: 100px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.empty {
    border: 2px dashed #CCC;
}

.empty:hover {
    background-color: #EEE;
}

.edit {
    position: absolute;
    display: none !important;
    top: 10px;
    right: 25px;
    color: #999;
    height: 20px;
    width: 20px;
}

.empty:hover .edit {
    display: block !important;
}

.empty:hover .edit:hover {
    cursor: pointer;
    color: #666;
}

.set.active {
    border: 2px solid #5677fc;
}

/* Catalog */

.content {
    height: 100%;
    overflow: hidden;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-top: 0;
}

.c {
    height: 100%;
    padding-right: 15px;
    padding-left: 0;
}

.r {
    padding-top: 0;
    padding-bottom: 15px;
}

.r > :last-child { padding-right: 0 !important; }
.page > :last-child { padding-bottom: 0 !important; }

.h100 {
    height: 100%;
    padding: 0 !important;
}

.h75 {
    height: 75%;
}

.h50 {
    height: 50%;
}

.h25 {
    height: 25%;
}

.h33 {
    height: 33%;
}

.background {
    height: 100%;
    background-size: cover !important;
    background-position: center;
}

.image {
    display: inline-block;
}

.text {
    padding: 10px;
    height: 100%;
    overflow: auto;
}

.audio,
.video {
    height: 90%;
    margin-bottom: 5px;
    background-size: cover !important;
    background-position: center !important;
}

.audio:after,
.video:after {
    content: "";
    background-image: url("../images/video_overlay.png");
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 100%;
    display: block;
}

.video .footer,
.audio .footer {
    height: 10%;
    color: #444;
    font-size: .85em;
    font-style: italic;
}

.image-footer {
    margin: 5px;
    color: #666;
    display: table;
}

.catalog {
    height: 100%;
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 10px;
}

.catalog .content img:hover,
.catalog .background:hover {
    cursor: zoom-in;
}

.catalog .background,
.catalog .video,
.catalog .audio,
.catalog .content img {
    padding: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.frame {
    background-color: #FFF;
    height: 100%;
    padding: 0;
}

.frame .slidee {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.frame .slidee li {
    float: left;
    padding: 10px;
}

.scrollbar {
    background: rgba(0, 0, 0, 0.1);
    height: 10px;
    width: 100%;
}

.scrollbar .handle {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 50px;
}

.full-screen .mfp-content{
    max-width: 900px;
}

.mejs-audio {
    position: absolute !important;
    bottom: 0;
}

.phone {
    margin-top: 60px;
    width: 500px;
    height: 800px;
    padding-top: 130px;
    padding-left: 41px;
    background: url("../images/phone.png") no-repeat;
    background-size: contain;
}

.review-done {
    padding: 100px;
}

.alert-message {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 9999;
    background-color: #8bc34a;
    padding: 10px 20px;
    color: #FFF;
}

.alert-dismissable .close {
    right: -10px;
}

/* Draggable */

.draggable:hover {
    cursor: pointer;
}

.drop-active {
    border: 2px solid #1D1D1B;
}

.thumb {
    position: relative;
}

.thumb.ui-draggable-dragging {
    width: 160px !important;
    z-index: 100;
}

.thumb i {
    font-size: 1.5em !important;
    display: none;
}

.thumb:hover i {
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
    color: #444;
}

.thumb i:hover {
    color: #222;
}

/* Modals */

#templatesContainer .page{
    height: 100%;
}

#addPageModal label {
    height: 150px;
    width: 100%;
    padding: 5px;
    background: #FFF;
    border: 1px solid #DDD;
}

#addPageModal label:hover {
    background: #E5E5E5;
    border: 1px solid #CCC;
}

#addPageModal .c {
    height: 100%;
    padding: 0 2px;
}

#addPageModal .r {
    padding: 2px 0;
}

#addPageModal .empty {
    border: 1px solid #AAA;
}

#addPageModal .empty:hover {
    background-color: transparent;
}

#addPageModal .layout-radio {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 25px;
}

#multimediaModal .nav-tabs > li {
    float: none;
}

#multimediaModal .nav-tabs > li i {
    margin-top: 10px;
}

#multimediaModal .pane {
    border: 1px solid #65656A;
    text-align: center;
    padding: 30px 60px;
    font-size: 1.5em;
    min-height: 466px;
    width: 100%;
}

/* File upload */

.qq-upload-drop-area {
    border: 2px dashed #AAA;
    text-align: center;
    padding: 80px 60px;
    font-size: 1.5em;
    color: #999;
    min-height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.qq-upload-button-selector {
    margin-top: 30px;
}

.qq-upload-drop-area-active {
    border: 2px solid #5DA30C;
    background-color: #EEE;
}

.qq-hide {
    display: none;
}

.qq-upload-list {
    margin: 20px;
}

.qq-upload-size {
    color: #999;
    font-size: .7em;
}

.qq-upload-list li {
    list-style-type: none;
}

.qq-upload-list li:before {
    font-family: 'FontAwesome';
    content: '\f03e';
    margin: 0 5px 0 -15px;
}

.qq-upload-list li.qq-upload-success {
    color: #5DA30C;
}

.qq-upload-list li.qq-upload-success:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -15px;
    color: #5DA30C;
}
