<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'exhibition.admin' %}">CatalogArte</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a title="Cerrar sesión" class="pull-right" href="/logout">
            <i class="fa fa-sign-out"></i>
          </a>
          <a class="avatar pull-right" href="{% url 'museum.update' %}">
            {{user.museum.name}}<img src="{{user.museum.logo.url}}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>