{% for exhibition in exhibition_list %}
  <div class="item {{ exhibition.category.slug }} {{ exhibition.get_tags_slugs }} {{ exhibition.museum.slug }} shadow">
    <a href="{% url 'exhibition.detail' exhibition.museum.slug exhibition.slug %}">
      <div style="background-image:url({{ exhibition.cover.url }});" class="cover"></div>
    </a>
    <div class="item-body">
      <a href="{% url 'exhibition.detail' exhibition.museum.slug exhibition.slug %}">
        <h3>{{ exhibition.title }}</h3>
      </a>
      <p>{{ exhibition.description }}</p>
      <hr>
      <div class="clearfix">
        <a href="{% url 'museum.detail' exhibition.museum.slug %}" class="pull-left">
          {{ exhibition.museum.name }}
        </a>
        {% if exhibition.start_date %}
          <span class="pull-right">Hasta el {{ exhibition.end_date | date:"d \d\e F" }}</span>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% if exhibition_list %}
  <div class="gap"></div>
{% endif %}