{% for exhibition in exhibition_list %}
  <a href="{% url 'exhibition.detail' exhibition.museum.slug exhibition.slug %}">
    <div class="col-md-3 col-sm-6 col-xs-12 exhibition-item">
      <div class="image" style="background-image:url({{ exhibition.cover.url }});"></div>
      <div class="cover" style="background-color:{{ exhibition.category.color }};">
        <div class="details">
          <h4>{{ exhibition.title }}</h4>
          <p>{{ exhibition.description | truncatewords:25 }}</p>
        </div>
      </div>
    </div>
  </a>
{% endfor %}