{% load staticfiles bootstrap3 %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
      <meta name="description" content="">
      <meta name="author" content="">
    {% endblock %}

    <title>{% block title %}CatalogArte{% endblock %}</title>

    {% bootstrap_css %}
    <link href="{% static 'web/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <script src="{% static 'web/js/vendor/jquery-1.11.3.min.js' %}"></script>
    {% bootstrap_javascript %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    {% block navbar %}
      <div class="container">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">
                <img class="img-responsive" src="{% static 'web/images/logo-inba-catalogarte.png' %}">
              </a>
            </div>
            <div class="navbar-text navbar-right">
              <form action="{% url 'exhibition.list' %}" class="navbar-form" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input id="search" type="text" name="q" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                      <button class="btn btn-flat" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </nav>
      </div>
    {% endblock %}
    {% block menu %}
      <div class="container-fluid menu">
        <div class="container">
          <div id="menu-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav center-block">
              <li {% if active_item == 'home' %}class="active"{% endif %}><a href="{% url 'index' %}">Inicio <span class="sr-only">(activo)</span></a></li>
              <li {% if active_item == 'catalogos' %}class="active"{% endif %}><a href="{% url 'exhibition.list' %}">Catálogos</a></li>
              <li {% if active_item == 'museos' %}class="active"{% endif %}><a href="{% url 'index' %}#museos">Museos</a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
      <div class="container">
        <div class="row footer">
          <img class="img-responsive center-block" src="{% static 'web/images/logo-inba-catalogarte.png' %}">
          <p>
            Algunos Derechos Reservados ©. Instituto Nacional de Bellas Artes y Literatura 2016.<br>
            Avenida Paseo de la Reforma y Campo Marte S/N, Col. Polanco Chapultepec, Del. Miguel Hidalgo, C.P. 11560, Ciudad de México.<br>
            El contenido de esta página puede ser reproducido sin fines de lucro, citando la fuente completa y dirección electrónica, queda estrictamente prohibida la deformación, mutilación y cualquier tipo de modificación de las obras aquí plasmadas.
          </p>
        </div>
      </div>
    {% endblock %}

    {% block javascript %}{% endblock %}

  </body>
</html>
