{% extends "web/base.html" %}
{% load filters staticfiles %}

{% if action == 'view' %}
  {% block meta %}
    <meta property="og:url" content="{{request.build_absolute_uri|urlencode}}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="CatalogArte"/>
    <meta property="og:title" content="{{catalog.exhibition.title}}" />
    <meta property="og:description" content="{{catalog.exhibition.description}}" />
    <meta property="og:image" content="{{hostname}}{{catalog.exhibition.cover.url}}" />
    <meta name="theme-color" content="{% firstof catalog.exhibition.category.color review.catalog.exhibition.category.color %}">
  {% endblock %}
{% endif %}

{% block navbar %}
  {% include "web/_catalog_navbar.html" with nav_type=action %}
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
  {% if review.approved != None %}
    <div class="review-done text-center">
      Gracias por revisar este catálogo.
    </div>
  {% else %}
    <div class="catalog">
      <div class="frame">
        <ul class="slidee"></ul>
      </div>
      <div class="scrollbar">
        <div class="handle"></div>
      </div>
    </div>
  {% endif %}
  {% csrf_token %}
{% endblock %}

{% block head %}
  <script src="{% static 'web/mediaelement/mediaelement-and-player.min.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static "web/css/magnific-popup.css" %}" rel="stylesheet">
  <link href="{% static "web/mediaelement/mediaelementplayer.min.css" %}" rel="stylesheet">
{% endblock %}

{% block footer %}{% endblock %}

{% block javascript %}
  {% if action == 'review' or action == 'preview' %}
    <script src="{% static 'web/js/vendor/jquery.json.min.js' %}"></script>
    <script src="{% static 'web/js/vendor/bootbox.min.js' %}"></script>
  {% endif %}

  <script src="{% static "web/js/vendor/sly.min.js" %}"></script>
  <script src="{% static "web/js/vendor/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static 'web/js/vendor/handlebars.runtime-v4.0.4.js' %}"></script>
  <script src="{% static 'web/js/templates_compiled.js' %}"></script>
  <script src="{% static 'web/js/app.js' %}"></script>
  <script src="{% static 'web/js/app_view.js' %}"></script>

  {% if action == 'preview' or action == 'review' %}
    <script src="{% static 'web/js/app_preview.js' %}"></script>
  {% endif %}

  {% if action == 'review' %}
    <script src="{% static 'web/js/app_review.js' %}"></script>
  {% endif %}

  <script>
    {% if catalog.content %}
      var catalog = {{ catalog.content | to_json }};
    {% elif review.catalog.content %}
      var catalog = {{ review.catalog.content | to_json }};
    {% else %}
      var catalog = { num_pages: 0, next_id: 1, width: {% firstof catalog.width review.catalog.width %}, height: {% firstof catalog.height review.catalog.height %}, pages: []};
    {% endif %}
    {% if action == 'review' %}
      var reviewId = {{ review.id }};
      var reviewUrl = "{% url 'catalog.review' review.catalog.exhibition.museum.slug review.catalog.exhibition.slug review.catalog.slug %}";
    {% endif %}
  </script>

  {% if action == 'view' %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1650742825185279',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  {% endif %}

{% endblock %}

