{% extends "web/base.html" %}
{% load filters staticfiles %}

{% block navbar %}
  {% include "web/_catalog_navbar.html" with nav_type='review' %}
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
  {% if review.approved == None %}
    <div class="catalog">
      <div class="frame">
        <ul class="slidee"></ul>
      </div>
      <div class="scrollbar">
        <div class="handle"></div>
      </div>
    </div>
  {% else %}
    <div class="review-done text-center">
      Gracias por revisar este catálogo.
    </div>
  {% endif %}
  {% csrf_token %}
{% endblock %}

{% block head %}
  <script src="{% static 'web/mediaelement/mediaelement-and-player.min.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static "web/css/magnific-popup.css" %}" rel="stylesheet">
  <link href="{% static "web/mediaelement/mediaelementplayer.min.css" %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
  <script src="{% static 'web/js/vendor/jquery.json.min.js' %}"></script>
  <script src="{% static 'web/js/vendor/bootbox.min.js' %}"></script>
  <script src="{% static "web/js/vendor/sly.min.js" %}"></script>
  <script src="{% static "web/js/vendor/jquery.magnific-popup.min.js" %}"></script>
  <script src="{% static 'web/js/vendor/handlebars.runtime-v4.0.4.js' %}"></script>
  <script src="{% static 'web/js/templates_compiled.js' %}"></script>
  <script src="{% static 'web/js/app.js' %}"></script>
  <script src="{% static 'web/js/app_view.js' %}"></script>
  <script src="{% static 'web/js/app_preview.js' %}"></script>
  <script>
    {% if review.catalog.content %}
      var catalog = {{ review.catalog.content | to_json }};
    {% else %}
      var catalog = { num_pages: 0, next_id: 1, width: {{review.catalog.width}}, height: {{review.catalog.height}}, pages: []};
    {% endif %}
    var reviewId = {{ review.id }};
    var reviewUrl = "{% url 'catalog.review' review.catalog.exhibition.museum.slug review.catalog.exhibition.slug review.catalog.slug %}";
  </script>
{% endblock %}
