{% extends "web/base.html" %}
{% load staticfiles filters %}

{% block content %}

  <div class="container-fluid no-padding">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for exhibition in exhibition_list %}
          <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for exhibition in exhibition_list %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'exhibition.detail' exhibition.museum.slug exhibition.slug %}">
              <div class="carousel-item" style="background-image: url('{{ exhibition.cover.url }}');"></div>
              <div class="carousel-label" style="background-color: {{ exhibition.category.color }};">
                {{ exhibition.category.name }}
              </div>
              <div class="carousel-caption">
                <h1>{{ exhibition.title }}</h1>
                <h3>{{ exhibition.museum.name  }}</h3>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <h1 class="title text-muted">Catalog<strong>Arte</strong></h1>
        <p class="lead">Repositorio en línea en el que podrás visualizar las publicaciones digitales de los Museos de la Red INBA y de la Coordinación Nacional de Artes Visuales.</p>
        <p class="lead">Consulta y recomienda los catálogos, hojas de sala y textos de nuestras exposiciones, homenajes, simposios, conferencias y demás eventos.</p>
        <p class="lead">Todo el contenido de Catalogarte está disponible como memoria de las actividades que realiza la Secretaría de Cultura a través de los Museos de arte del Instituto Nacional de Bellas Artes y Literatura.</p>
      </div>
    </div>

    <h3 class="section-header">Categorías</h3>
    <div class="row categories">
      <div class="col-sm-3">
        <a href="{% url 'exhibition.list' %}?categoria=exposiciones-temporales" class="item single purple"><span>Exposiciones Temporales</span></a>
        <a href="{% url 'exhibition.list' %}?categoria=colecciones" class="item double pink"><span>Colecciones</span></a>
      </div>
      <div class="col-sm-3">
        <a href="{% url 'exhibition.list' %}?categoria=actividades-paralelas" class="item double orange"><span>Actividades Paralelas</span></a>
        <a href="{% url 'exhibition.list' %}?categoria=homenajes-y-reconocimientos" class="item single dark-blue"><span>Homenajes y Reconocimientos</span></a>
      </div>
      <div class="col-sm-3">
        <a href="{% url 'exhibition.list' %}?categoria=artistas-visuales" class="item single blue"><span>Artistas Visuales</span></a>
        <a href="{% url 'exhibition.list' %}?categoria=publicaciones-historicas" class="item double teal"><span>Publicaciones Históricas</span></a>
      </div>
      <div class="col-sm-3">
        <a href="{% url 'exhibition.list' %}?categoria=cartografias" class="item double light-purple"><span>Cartografías</span></a>
        <a href="{% url 'exhibition.list' %}?categoria=ibermuseos" class="item single red"><span>Ibermuseos</span></a>
      </div>
    </div>

    <h3 class="section-header">Temas Populares</h3>
    <div class="row word-cloud">
      <div class="col-sm-12">
        <div class="cloud"></div>
      </div>
    </div>

    <a name="museos"></a>
    <h3 class="section-header">Museos</h3>
    <div class="row">
      {% for museum in museums %}
        <a href="{% url 'museum.detail' museum.slug %}">
          <div class="col-sm-4 museum-item">
            <img src="{{ museum.logo.url }}">
            <div>{{ museum.name }}</div>
          </div>
        </a>
      {% endfor %}
    </div>

{% endblock %}

{% block javascript %}
  <script src="{% static 'web/js/vendor/jqcloud.js' %}"></script>
  <script>
    $(function() {
      var words = {{tags|to_json}}
      $('.carousel').carousel();
      $('.cloud').jQCloud(words, {
        autoResize: true,
        steps: 5
      });
    });
  </script>
{% endblock %}
